body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 10px;
}

.post {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 갤러리 페이지에 대한 스타일 */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 그리드 레이아웃 설정 */
    grid-gap: 10px; /* 이미지 간격 설정 */
}

.gallery img {
    width: 100%; /* 이미지 크기 100%로 설정 */
    height: auto; /* 가로세로 비율 유지 */
}
